<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Capricciosa" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Capricciosa" %>">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
    </footer>
  </body>

</html>
